*{
    padding: 0em;
    color: #FEE715FF;
    font-family: "Courier New", "Lucida Console", "Monospace";
    text-decoration: none;
}

header{
    background-color: #101820FF;
    padding-bottom: 5em;
}

body{
    padding-left: 4em;
    background-color: #101820;
}

#Navbar{
    text-align: center;
    align-items: center;
    list-style: none;
    display: inline-flex;
    gap: 5em;
    position: fixed;
    text-align: center;

}

a{
    opacity: 0.5;
}

a:hover{
    opacity: 1;
    color: #f200ff;
}





